@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --font-primary: 'Rubik', sans-serif;
  --text-dark: hsl(220, 33%, 11%);
  --normal: 400;
  --semibold: 500;
  --bold: 700;
  --font-default: 1.6rem;
  --primary: hsl(257, 81%, 58%);
  --bg-primary: hsl(241, 76%, 63%);
  --white: hsl(0, 0%, 100%);
  --leight: hsl(0, 0%, 95%);
  --container: 150rem;
  --nav: 6rem;
  --m-auto: 0 auto;
  --box-shadow-default: 0 0 0.5rem 0.1rem hsla(0, 0%, 25%, 0.2);
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  font-family: var(--font-primary);
  color: var(--text-dark);
}
a,
p,
span,
input,
button,
select {
  font-size: var(--font-default);
  outline: none;
}
a {
  color: var(--text-dark);
  font-family: var(--font-primary);
  font-weight: var(--semibold);
}
div {
  font-size: var(--font-default);
}
.heading {
  font-size: 4rem;
}
.p-2 {
  padding: 2rem;
}
.py-2 {
  padding: 2rem 0;
}
.px-2 {
  padding: 0 2rem;
}
.mx-1 {
  margin-right: 1rem;
}
.subheading {
  font-size: 3rem;
}
.text-center {
  text-align: center;
}
.text-white {
  color: var(--white);
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.jsc-sb {
  justify-content: space-between;
}
.jsc-c {
  justify-content: center;
}
.container {
  max-width: var(--container);
  margin: var(--m-auto);
  padding: 0 2rem;
  width: calc(100% - 2rem);
}
.btn-primary {
  padding: 0.6rem 1.7rem;
  display: inline-block;
  color: var(--white);
  background: var(--primary);
}
.btn-secondary {
  padding: 0.6rem 1.7rem;
  display: inline-block;
  color: var(--white);
  background: var(--bg-primary);
}
/* Home-section-start */
header {
  box-shadow: var(--box-shadow-default);
  background: var(--white);
}
.navigation {
  height: var(--nav);
}
.nav_list {
  display: inline-block;
  margin: 0 1rem;
}
.nav_link {
  padding: 0.4rem 1rem;
}
.menu_icon {
  width: 4rem;
  height: 4rem;
  right: 2rem;
  position: absolute;
  display: none;
  cursor: pointer;
}
.menu_icon .menu_icon_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.icon-line {
  width: 100%;
  height: 0.3rem;
  background: var(--text-dark);
}
.icon-line::before,
.icon-line::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.3rem;
  background: var(--text-dark);
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.icon-line::before {
  transform: translateY(-1rem);
}
.icon-line::after {
  transform: translateY(1rem);
}
.menu_icon_box.active .icon-line {
  background: transparent;
}
.menu_icon_box.active .icon-line::before {
  transform: rotate(45deg);
}
.menu_icon_box.active .icon-line::after {
  transform: rotate(130deg);
}
@media (max-width: 768px) {
  .nav_menu {
    display: none;
    transition: all 0.5s ease;
  }
  .menu_icon {
    display: block;
  }
  .nav_menu.active {
    display: block;
    position: absolute;
    top: var(--nav);
    left: 0;
    width: 100%;
    height: calc(100vh - var(--nav));
    background: #fff;
  }
  .nav_menu.active .nav_list {
    display: block;
    text-align: center;
    padding: 1.5rem 0;
  }
}
.home {
  max-height: 67rem;
  height: 100vh;
  background: rgb(245, 245, 245);
}
.hero-contant {
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
}
/* Home-section-end */
/* Service-section-start */
.service {
  padding: 4rem 0;
}
.service-items {
  padding-top: 3rem;
  gap: 1.3rem;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
}
@media (max-width: 400px) {
  .service-items {
    grid-template-columns: 1fr;
  }
}
.service-item {
  box-shadow: 0 0 0.2rem 0.1rem rgb(223, 223, 223);
  padding: 2rem;
  text-align: center;
}
.service-item * {
  padding: 1rem 0;
}
.service-item .paragraph {
  text-align: left;
}
.service-heading {
  position: relative;
}
.service-heading::after {
  position: absolute;
  content: '';
  left: 50%;
  bottom: -0.2rem;
  width: 10rem;
  transform: translateX(-50%);
  height: 0.3rem;
  background: var(--bg-primary);
}
.service-icon {
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  text-align: center;
  line-height: 4rem;
  background: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 0.5rem 0.2rem rgba(235, 235, 235, 0.452);
}

.fa-laptop {
  color: hsl(241, 78%, 73%);
}
.fa-php {
  color: hsl(229, 29%, 64%);
}
.fa-figma {
  color: var(--bg-primary);
}
.fa-video {
  color: hsl(7, 87%, 58%);
}
/* Service-section-end */
/* Skill-section-start */
.skill {
  padding: 4rem 0;
}

.skill-container {
  align-items: center;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
}
.skill-images {
  width: 100%;
  max-height: 40rem;
  /* height: 30rem; */
}
.progress {
  max-width: 32rem;
  width: 100%;
  height: 1rem;
  background: var(--leight);
  border-radius: 0.5rem;
}
.skill-headding {
  font-size: 2rem;
  font-weight: 500;
  display: block;
  padding: 1rem 0;
}
.progress .progress-inner {
  width: 0;
  height: 100%;
  left: 0;
  background: var(--primary);
  border-radius: inherit;
  position: relative;
  transition: all 5s linear;
}
.progress-inner::before {
  position: absolute;
  content: attr(data-progress);
  height: 2.5rem;
  width: 5rem;
  right: 0;
  top: -3.5rem;
  text-align: center;
  line-height: 2.5rem;
  background: var(--bg-primary);
  color: var(--white);
  border-radius: inherit;
}
.progress-inner::after {
  position: absolute;
  content: '';
  right: 1rem;
  bottom: 0.4rem;
  border-top: 1rem solid var(--bg-primary);
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
}
/* Skill-section-end */
/* About-section-start */
.about {
  padding: 4rem 0;
}
.about-container {
  align-items: center;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
}
.about-heading {
  position: relative;
  margin-left: 4rem;
  font-size: 4rem;
  color: var(--primary);
}
.about-heading::before {
  content: ' ';
  position: absolute;
  left: -4rem;
  top: 50%;
  /* bottom: 0.5rem; */
  width: 3.5rem;
  height: 0.2rem;
  background: var(--text-dark);
  border-radius: 0.3rem;
}
/* About-section-end */
